name: Codecov
on:
  push:
    branches:
      - main
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - uses: actions/checkout@master
      - name: Generate coverage report
        run: |
          cd rrule
          rustup component add llvm-tools-preview
          export RUSTFLAGS="-Cinstrument-coverage"
          cargo build --verbose
          curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-x86_64-unknown-linux-gnu.tar.bz2 | tar jxf -
          LLVM_PROFILE_FILE="rrule-%p-%m.profraw" cargo test --all-features --verbose
          ./grcov . --binary-path ../target/debug/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info
          bash <(curl -s https://codecov.io/bash) -f lcov.info
          echo "Uploaded code coverage"
